@import "tailwindcss";

:root {
  background-color: var(--color-toothy-100);
  color: var(--color-text-main);
}

@theme {
  --color-text-main: #331B3B;
  --color-toothy-500: #6B9080;
  --color-toothy-400: #A4C3B2;
  --color-toothy-300: #CCE3DE;
  --color-toothy-200: #EAF4F4;
  --color-toothy-100: #F6FFF8;

  --font-sans: var(--font-hind), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  background-color: var(--color-toothy-100);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
